@import 'variables'
@import 'bourbon'

/* font-family: "RobotoBold"; */
@include font-face('RobotoBold', '#{$font-path}RobotoBold/RobotoBold', normal, normal);

/* font-family: "RobotoLight"; */
@include font-face('RobotoLight', '#{$font-path}RobotoLight/RobotoLight', normal, normal);

/* font-family: "RobotoMedium"; */
@include font-face('RobotoMedium', '#{$font-path}RobotoMedium/RobotoMedium', normal, normal);

/* font-family: "RobotoRegular"; */
@include font-face('RobotoRegular', '#{$font-path}RobotoRegular/RobotoRegular', normal, normal);
