@import 'variables'
@import 'bourbon'
@import '../css-libs/retina'

*
	box-sizing: border-box
	outline: none !important

a
	&:hover,
	&:focus,
	&:active
		outline: none !important

body
	font-size: 20px
	font-family: $font-l
	background-color: $iris 
	color: $dark
	margin: 0

.formWrapp
	background-color: $white
	padding: 10px
	min-width: 320px
	max-width: 428px
	width: 100%
	margin: 0 auto

h2
	margin: 0
	padding: 0
	font-weight: normal
	font-style: normal
	font-family: $font-b
	font-size: 1.300em
	line-height: 30px


.clearfix:after
	content: ""
	display: table
	clear: both

.leftBlock
	h2
		margin: 0 0 20px 0
		text-align: center

.rightBlock
	margin: 40px 0 0 0
	h2
		text-align: center

.inputBlock
	position: relative
	width: 90%
	margin: 0 auto 22px
	label
		position: absolute
		z-index: 2
		font-family: $font-r
		color: $steel
		font-size: 0.800em
		line-height: 19px
		left: 20px
		top: 19px
	input
		width: 100%
		background-color: $white
		color: $dark
		font-family: $font-m
		border: 1.2px solid $cool-grey 
		border-radius: 6px
		height: 58px
		font-size: 0.800em
		line-height: 18px
		padding: 20px 20px 0
	.ui-corner-all,
	.ui-selectmenu-button
		&.ui-button
		width: 100%
		border: 1.2px solid $cool-grey
		border-radius: 6px
		height: 58px
		font-family: $font-r
		font-size: 0.800em
		line-height: 56px
		padding: 0
		text-indent: 15px
		color: $steel
		background-color: $white

.radioBlock
	margin: 0
	text-align: center
	label
		font-size: 0.800em
		line-height: 19px
		font-family: $font-r
		color: $black
		cursor: pointer
		display: inline-block
		position: relative
		&:before
			width: 24px
			height: 24px
			content: ''
			position: absolute
			border-radius: 50%
			background-color: $iris
			opacity: 0
			z-index: 2
			top: 0
		&.male
			&:before
				right: -43px
		&.female
			&:before
				left: -43px
	input
		display: none
		&:checked
			& + label
				color: $iris
				font-family: $font-m
				&:before
					opacity: 1

.swithcField
	position: relative
	display: inline-block
	width: 54px
	height: 30px
	background-color: $white
	border-radius: 25px
	border: 1px solid $cool-grey
	vertical-align: middle
	margin: 0 10px
	top: 2px

.ui-widget-content
	color: $dark
	text-indent: 15px
	font-size: 0.800em
	font-family: $font-m
	border-color: $cool-grey
	width: 100%

.ui-selectmenu-icon
	&.ui-icon
		top: 18px
		right: 18px

.eye
	+retina('#{$img-path}closed-eye.png', 3)
	position: absolute
	width: 26px
	height: 19px
	background-repeat: no-repeat
	background-position: 0 100%
	background-size: 100% auto
	top: 50%
	margin: -9px 0 0 0
	right: 15px
	z-index: 2
	&.open
		+retina('#{$img-path}opened-eye.png', 3)

.rq
	&:before
		position: absolute
		content: '\2731'
		font-size: 14px
		line-height: 14px
		color: $tomato
		top: 50%
		margin: -5px 0 0 0
		right: -17px
		top: 50%

.infoBlock
	margin: 28px 0 0 0
	text-align: center

.infoBlockImg
	width: 80px
	height: 77px
	display: inline-block
	vertical-align: top
	img
		display: block
		width: 100%

.infoBlockText
	vertical-align: top
	margin: 0 0 0 30px
	display: inline-block
	text-align: left
	width: 173px
	font-size: 0.800em
	line-height: 19px
	color: $dark


.textItem
	position: relative
	&:before
		font-family: $font-b
		position: absolute
		left: -23px
	&.item01
		&:before
			content: '1.'
	&.item02
		margin: 19px 0 0 0
		&:before
			content: '2.'

.fileBlock
	margin: 42px 0 0 0
	input
		display: none
	label
		font-family: 0.800em
		text-align: center
		font-family: $font-m
		background-color: $butterscotch
		position: relative
		transition: background-color ease .25s 
		width: 100%
		border-radius: 6px
		display: inline-block
		color: $white
		cursor: pointer
		line-height: 158px
		&:before
			width: 90%
			content: ''
			position: absolute
			background-color: transparent
			border-radius: 6px
			border: 2px dashed $white
			top: 18px
			left: 5%
			height: 118px
		&:hover
			background-color: lighten($butterscotch, 5%)

.acceptBlock
	margin: 41px 0 0 0
	input
		display: none
		&:checked
			& + label
				&:after
					width: 20px
					height: 22px
					left: 23px
					top: 3px
					content: ''
					position: absolute
					border-radius: 4px
					background-color: $butterscotch
	label
		color: $dark
		cursor: pointer
		font-family: $font-l
		font-size: 0.800em
		line-height: 19px
		position: relative
		padding: 0 0 0 53px
		display: inline-block
		&:before
			content: ''
			position: absolute
			border-radius: 6px
			width: 24px
			height: 26px
			border: 1px solid $cool-grey
			background-color: $white
			left: 20px
		a
			color: $iris
			text-decoration: none
			&:hover
				text-decoration: underline

.btnBlock
	margin: 22px 0 28px 0
	button
		cursor: pointer
		border-radius: 100px
		width: 100%
		padding: 0
		margin: 0
		border: none
		background-color: $sapphire
		text-transform: uppercase
		font-size: 0.800em
		line-height: 58px
		text-transform: uppercase
		font-family: $font-m
		color: $white
		transition: background-color ease .25s
		&:hover
			background-color: lighten($sapphire, 15%)

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/*  */

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/*  */

/* Small devices Tablets */
@media only screen and (min-width : 768px)
	.formWrapp
		margin: 50px auto 0
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1)
		border-radius: 6px
		max-width: 720px
		padding: 30px
	
	.leftBlock
		width: 360px
		float: left
		h2
			margin: 0 0 28px 20px
			text-align: left

	.rightBlock
		width: 300px
		float: right
		margin: 0
		h2
			text-align: left

	.radioBlock
		text-align: left
		margin: 0 0 0 20px
		padding: 10px 0 0 0

	.inputBlock
		width: 300px
		margin: 0 0 22px 0

	.infoBlockImg
		float: left
		display: block

	.infoBlockText
		float: right
		display: block

	.rq
		&:before
			right: -25px

	.fileBlock
		label
			width: 340px
			border-radius: 6px 6px 0 6px
			&:after
				content: ''
				position: absolute
				width: 10px
				height: 10px
				bottom: -10px
				right: 0
				background-color: $golden-brown
				border-radius: 0 0 100% 0
			&:before
				left: 18px
				width: 300px

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.formWrapp
		margin: 170px auto 0

/* Large Devices, Wide Screens */
@media only screen and (min-width:  1200px)
	.formWrapp
		margin: 212px auto 0
